<?xml version="1.0"?>
<launch>
  <arg name="slam" default="false"/>
  <arg name="gui" default="true"/>

  <!-- Use standard ROS navigation stack through move_base? If not, specify vector maps for graph_navigation -->
  <arg name="move_base" default="false"/>
  <arg name="graph_map_location" default="$(find a1_autonomy)/enml/maps"/>
  <arg name="graph_map_name" default="AHG_Apartment"/>
  <arg name="odom_topic" default="/correct_odom"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="localization_topic" default="/localization"/>
  <arg name="loc_topic" default="/localization"/>

  <param name="use_sim_time" value="true"/>

  <!--<include file="$(find unitree_gazebo)/launch/normal.launch">-->
     <!--<arg name="ahg_sim" value="true"/>-->
     <!--<arg name="rname" value="a1"/>-->
     <!--<arg name="x_pos" value="8.0"/>-->
     <!--<arg name="y_pos" value="-2.0"/>-->
     <!--<arg name="use_sim_time" value="true"/>-->
     <!--<arg name="z_pos" value="0.2"/>-->
  <!--</include>-->

  <!-- Azure Kinect -->
<!--   <include file="$(find azure_kinect_ros_driver)/launch/driver.launch">
     <arg name="ahg_sim" value="true"/>
     <arg name="rname" value="laikago"/>
  </include> -->

  <!--<group if="$(arg move_base)">-->
    <!--<include file="$(find unitree_navigation)/launch/move_base.launch">-->
      <!--<arg name="slam" value="$(arg slam)"/>-->
    <!--</include>-->
  <!--</group>-->

  <!--<group unless="$(arg move_base)">  -->
       <!--<remap from="/jackal_velocity_controller/odom" to="/correct_odom"/>-->
       <!--<remap from="/velodyne_2dscan" to="/scan"/>-->
       <!--<remap from="/navigation/cmd_vel" to="/cmd_vel"/>-->
    <!--</node>-->
  <!--</group>  -->

  <!--<node name="map_server" pkg="map_server" type="map_server" args="$(find tmp)/maps/ahg_map.yaml"/>-->
  <!--<include file="$(find costmap_2d)/launch/a1.launch"/>-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find tmp)/config/a1/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find tmp)/config/a1/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tmp)/config/a1/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find tmp)/config/a1/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find tmp)/config/base_local_planner_params.yaml" command="load" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
 </node>
    <include file="$(find tmp)/launch/amcl_diff_a1.launch"/>


  <!--<node name="scaled_map_converter" pkg="navi_manager" type="global_planner" output="screen"/>-->

   <!--<group if="$(arg gui)">-->
     <!--<node pkg="rviz" type="rviz" name="rviz" args="-d $(find unitree_gazebo)/config/a1.rviz" output="screen"/>-->
  <!--</group>-->



</launch>
