<?xml version="1.0"?>
<launch>
  <arg name="slam" default="false"/>
  <arg name="gui" default="true"/>

  <!-- Use standard ROS navigation stack through move_base? If not, specify vector maps for graph_navigation -->
  <arg name="move_base" default="false"/>
  <arg name="graph_map_location" default="$(find a1_autonomy)/enml/maps"/>
  <arg name="graph_map_name" default="AHG_Apartment"/>
  <arg name="odom_topic" default="/correct_odom"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="localization_topic" default="/localization"/>
  <arg name="loc_topic" default="/localization"/>

  <rosparam file="$(find search_service)/config/ahg.yaml"/>
  <param name="use_sim_time" value="true"/>

  <include file="$(find unitree_gazebo)/launch/normal.launch">
     <arg name="ahg_sim" value="true"/>
     <arg name="rname" value="a1"/>
     <arg name="x_pos" value="8.0"/>
     <arg name="y_pos" value="-2.0"/>
     <arg name="use_sim_time" value="true"/>
     <arg name="z_pos" value="0.2"/>
  </include>

    <node pkg="a1_autonomy" type="enml" name="non_markov_localization" output="screen" args="--config_dir $(find amrl)/enml/config --robot_config a1.lua --maps_dir $(find amrl)/enml/maps -d1" />


  <node name="map_server" pkg="map_server" type="map_server" args="$(find tmp)/maps/ahg4_map.yaml">
      <param name="frame_id" value="map"/>
  </node>
  <include file="$(find unitree_navigation)/launch/a1_costmap.launch">
     <arg name="use_sim_time" value="true"/>
  </include>

  <node name ="enmap_to_rosmap" pkg="tf" type="static_transform_publisher" args="-54 15 0 -1.57 0 0.00 map map_en 10"/>

  <node name="scaled_map_converter" pkg="navi_manager" type="global_planner" output="screen"/>
  <node name="a1_odom" pkg="search_service" type="a1_odom" output="screen"/>
  <node name="a1_amrl_navigation" pkg="unitree_navigation" type="a1_amrl_nav" output="screen"/>
  <node name="frontier_server" pkg="visual_perception" type="frontier_server" output="screen"/>

</launch>
