<?xml version="1.0"?>
<launch>
  <arg name="slam" default="false"/>
  <arg name="gui" default="true"/>

  <!-- Use standard ROS navigation stack through move_base? If not, specify vector maps for graph_navigation -->
  <arg name="move_base" default="false"/>
  <arg name="graph_map_location" default="$(find a1_autonomy)/enml/maps"/>
  <arg name="graph_map_name" default="AHG_Apartment"/>
  <arg name="odom_topic" default="/correct_odom"/>
  <!--<arg name="odom_topic" default="/odom"/>-->
  <arg name="scan_topic" default="/scan"/>
  <arg name="localization_topic" default="/localization"/>
  <arg name="loc_topic" default="/localization"/>
  <arg name="map" default="$(find tmp)/maps/ahg_map.yaml" />
  <arg name="ahg_sim" default="true"/>
  <arg name="rname" default="a1"/>
  <arg name="x_pos" default="8.0"/>
  <arg name="y_pos" default="-2.0"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="z_pos" default="0.4"/>
  <arg name="user_debug" default="false"/>
  <arg name="dollar" default="$"/>


  <group unless="$(arg move_base)">  
    <node pkg="a1_autonomy" type="enml" name="non_markov_localization" output="screen" args="--config_dir $(find amrl)/enml/config --robot_config a1.lua --maps_dir $(find amrl)/enml/maps -d1" />
    <node pkg="a1_autonomy" type="navigation" name="graph_navigation" output="screen" args="--map $(arg graph_map_location)/$(arg graph_map_name)/$(arg graph_map_name).navigation.txt" >
       <remap from="/jackal_velocity_controller/odom" to="/correct_odom"/>
       <remap from="/velodyne_2dscan" to="/scan"/>
       <remap from="/navigation/cmd_vel" to="/cmd_vel"/>
    </node>
  </group>  

</launch>
