<?xml version="1.0"?>
<launch>
    <arg name="rname" default="a1"/>
    <arg name="ctrl_level" default="highlevel"/>

    <node pkg="unitree_legged_real" type="lcm_server" name="node_lcm_server"
          respawn="false" output="screen" args="$(arg rname) $(arg ctrl_level)" />


  <!-- Use standard ROS navigation stack through move_base? If not, specify vector maps for graph_navigation -->
  <arg name="move_base" default="false"/>
  <arg name="graph_map_location" default="$(find amrl_maps)"/>
  <arg name="graph_map_name" default="AHG2"/>
  <arg name="odom_topic" default="/odom"/>
  <arg name="scan_topic" default="/cloud2scan"/>
  <arg name="localization_topic" default="/localization"/>
  <arg name="loc_topic" default="/localization"/>

  <param name="use_sim_time" value="false"/>

    
    <param name="robot_name" value="$(arg rname)"/>
    <param name="control_level" value="$(arg ctrl_level)"/>

  <!-- Include the Velodyne Launch -->
  <!--<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>-->
  <!-- pointcloud_to_laserscan -->
  <node pkg="pointcloud_to_laserscan" name="pointcloud_to_laserscan_node" type="pointcloud_to_laserscan_node" >
    <remap from="cloud_in" to="velodyne_points"/>
    <remap from="scan" to="cloud2scan" />
    <param name="min_height" value="-0.3"/>
    <param name="max_height" value="0.3"/>
    <param name="angle_min" value="-3.1416"/>
    <param name="angle_max" value="3.1416"/>
    <param name="use_inf" value="false" />
  </node>

  <!-- Run the SDK Driver -->
  <node pkg="unitree_legged_real" type="a1_driver_simple_odom" name="a1_driver_node"
          respawn="false" output="screen" args="$(arg rname) $(arg ctrl_level)" />
    <!-- ENML -->
    <node pkg="amrl" type="enml" name="non_markov_localization" output="screen" args="--config_dir $(find amrl)/enml/config --robot_config a1_real_raw_odom.lua --maps_dir $(find amrl)/enml/maps -d1" />
    <!-- GRAPH NAVIGATION -->
    <node pkg="amrl" type="navigation" name="graph_navigation" output="screen" args="--map $(arg graph_map_location)/$(arg graph_map_name)/$(arg graph_map_name).navigation.txt" >
       <remap from="/jackal_velocity_controller/odom" to="/odom"/>
       <remap from="/velodyne_2dscan" to="/cloud2scan"/>
       <remap from="/navigation/cmd_vel" to="/cmd_vel"/>
    </node>

</launch>

