<?xml version="1.0"?>
<launch>
  <!-- Include the Real robot Launch -->
   <include file="$(find unitree_legged_real)/launch/real.launch"/>

  <!-- Specify vector maps and topic names for graph_navigation -->
  <arg name="graph_map_location" default="$(find amrl_maps)"/>
  <arg name="graph_map_name" default="AHG_Apartment"/>
  <arg name="odom_topic" default="/filtered_odom"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="localization_topic" default="/localization"/>
    
  <!-- Include the Velodyne Launch -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

  <!-- Run the SDK Driver -->
  <node pkg="unitree_legged_real" type="a1_driver" name="a1_driver_node"
          respawn="false" output="screen" args="$(arg rname) $(arg ctrl_level)" />

  	<node pkg="amrl" type="enml" name="non_markov_localization" output="screen" args="--config_dir $(find amrl)/enml/config --robot_config a1_real.lua --maps_dir $(find amrl)/enml/maps -d1" />
    
    <node pkg="amrl" type="navigation" name="graph_navigation" output="screen" args="--map $(arg graph_map_location)/$(arg graph_map_name)/$(arg graph_map_name).navigation.txt" >
       <remap from="/jackal_velocity_controller/odom" to="/filtered_odom"/>
       <remap from="/velodyne_2dscan" to="/scan"/>
       <remap from="/navigation/cmd_vel" to="/cmd_vel"/>
    </node>

</launch>