<?xml version="1.0"?>
<launch>
    <arg name="rname" default="a1"/>
    <arg name="ctrl_level" default="highlevel"/>

    <node pkg="unitree_legged_real" type="lcm_server" name="node_lcm_server"
          respawn="false" output="screen" args="$(arg rname) $(arg ctrl_level)" />


  <!-- Use standard ROS navigation stack through move_base? If not, specify vector maps for graph_navigation -->
  <arg name="move_base" default="false"/>
  <arg name="graph_map_location" default="$(find a1_autonomy)/enml/maps"/>
  <arg name="graph_map_name" default="AHG2"/>
  <arg name="odom_topic" default="/odom"/>
  <arg name="scan_topic" default="/depth2scan"/><!--/depth2scan /scan /cloud2scan -->
  <arg name="localization_topic" default="/localization"/>
  <arg name="loc_topic" default="/localization"/>
  <!-- <arg name="max_speed" default="0.2f"/> -->

  <param name="use_sim_time" value="false"/>

    <param name="robot_name" value="$(arg rname)"/>
    <param name="control_level" value="$(arg ctrl_level)"/>

  <!-- Include the Velodyne Launch -->
  <!--<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>-->
  <!-- pointcloud_to_laserscan -->
  <!--<node pkg="pointcloud_to_laserscan" name="pointcloud_to_laserscan_node" type="pointcloud_to_laserscan_node" >-->
    <!--<remap from="cloud_in" to="velodyne_points"/>-->
    <!--<remap from="scan" to="cloud2scan" />-->
    <!--<param name="min_height" value="-0.3"/>-->
    <!--<param name="max_height" value="0.3"/>-->
    <!--<param name="angle_min" value="-3.1416"/>-->
    <!--<param name="angle_max" value="3.1416"/>-->
    <!--<param name="use_inf" value="false" />-->
  <!--</node>-->

  <!-- Run the SDK Driver -->
  <node pkg="unitree_legged_real" type="a1_driver_main" name="a1_driver_node"
          respawn="false" output="screen" args="$(arg rname) $(arg ctrl_level)" />
    <!-- ENML -->
    <node pkg="a1_autonomy" type="enml_a1" name="non_markov_localization" output="screen" args="--config_dir $(find a1_autonomy)/config --robot_config a1_real_mas.lua --maps_dir $(find a1_autonomy)/enml/maps -d1" />
     <!--<node name="realsense_costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen" >-->
        <!--<rosparam file="$(find a1_autonomy)/config/a1_realsense_costmap_params.yaml" command="load" ns="costmap" />-->
    <!--</node>-->

<!-- <node name ="enmap_to_rosmap" pkg="tf" type="static_transform_publisher" args="-54 15 0 -1.57 0 0.00 map map_en 10"/> -->


</launch>

