<?xml version="1.0"?>
<launch>
  <node name ="enmap_to_rosmap" pkg="tf" type="static_transform_publisher" args="-21.0 -37 0 0.0 0 0.00 map map_en 100"/>
  <!--<node pkg="global_planner" type="planner" name="planner" output="screen">-->
    <!--<rosparam file="$(find unitree_navigation)/config/a1/costmap_common_params.yaml" command="load" ns="costmap" /> -->
    <!--<rosparam file="$(find unitree_navigation)/config/a1/global_planner_params.yaml" command="load" />-->
  <!--<param name="base_global_planner" value="global_planner/GlobalPlanner"/>-->
  <!--</node>-->

  
</launch>
