<?xml version="1.0"?>
<launch>
  <!-- puck launch -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>


    <!-- depthimage_to_laserscan -->j
	<include file="$(find depthimage_to_laserscan)/launch/depth2scan.launch"/>   
  <!-- ar track alvar -->
    <include file="$(find ar_track_alvar)/launch/a1_artag.launch"/>

</launch>
