<?xml version="1.0"?>
<launch>
    <arg name="use_sim_time" default="false"/>
  <!-- 
  NOTE: You'll need to bring up something that publishes sensor data (see
  rosstage), something that publishes a map (see map_server), and something to
  visualize a costmap (see nav_view), to see things work.

  Also, on a real robot, you'd want to set the "use_sim_time" parameter to false, or just not set it.
  -->
  <!--<param name="/use_sim_time" value="false"/>-->

  <!-- Publishes the voxel grid to rviz for display -->
  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
    <remap from="voxel_grid" to="costmap/voxel_grid"/>
  </node>

  <!-- Run the costmap node -->
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen">
    <rosparam file="$(find unitree_navigation)/config/a1_params.yaml" command="load" ns="costmap" />
  </node>
  <!--<node name="costmap_global_node" pkg="costmap_2d" type="costmap_2d_node" output="screen">-->
    <!--<rosparam file="$(find unitree_navigation)/config/a1/costmap_common_params.yaml" command="load" ns="costmap" /> -->
    <!--<param name="base_global_planner" value="global_planner/GlobalPlanner"/>-->
  <!--</node>-->

  <node pkg="global_planner" type="planner" name="planner" output="screen">
    <!--<rosparam file="$(find unitree_navigation)/config/a1/global_costmap_params.yaml" command="load" /> -->
    <rosparam file="$(find unitree_navigation)/config/a1/costmap_common_params.yaml" command="load" ns="costmap" /> 
    <rosparam file="$(find unitree_navigation)/config/a1/global_planner_params.yaml" command="load" />
    <!--<param name="base_global_planner" value="global_planner/GlobalPlanner"/>-->
  <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
  </node>

  <!-- <node name="realsense_costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen" >
        <rosparam file="$(find a1_autonomy)/config/a1_realsense_costmap_params.yaml" command="load" ns="costmap" />
    </node> -->





  <!--<node pkg="global_planner" type="planner" name="planner" output="screen">-->
  <!--<param name="base_global_planner" value="global_planner/GlobalPlanner"/>-->
  <!--</node>-->


</launch>
