<?xml version="1.0"?>
<launch>

    <arg name="use_sim_time" default="false"/>

  <!-- Publishes the voxel grid to rviz for display -->
  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
    <remap from="voxel_grid" to="costmap/voxel_grid"/>
  </node>

  <!-- Run the costmap node from puck data -->
  <!--<node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen">-->
    <!--<rosparam file="$(find unitree_navigation)/config/a1_puck_params.yaml" command="load" ns="costmap" />-->
  <!--</node>-->
  <node name="costmap_node2" pkg="costmap_2d" type="costmap_2d_node" output="screen">
    <rosparam file="$(find unitree_navigation)/config/a1_depth_params.yaml" command="load" ns="costmap" />
  </node>

  <node name="base_to_camera_depth" pkg="tf" type="static_transform_publisher" args="0.3 0 0 0 0 0 base camera_depth_frame 100"/>
  <!-- Run the costmap from the realsense depth data-->
  <!--<node name="costmap_global_node" pkg="costmap_2d" type="costmap_2d_node" output="screen">-->
      <!-- <rosparam file="$(find unitree_navigation)/config/a1_puck_params.yaml" command="load" ns="costmap" /> -->
  <!-- </node> -->

  <!--<node pkg="global_planner" type="planner" name="planner" output="screen">-->
    <!--<rosparam file="$(find unitree_navigation)/config/a1/costmap_common_params.yaml" command="load" ns="costmap" /> -->
    <!--<rosparam file="$(find unitree_navigation)/config/a1/global_planner_params.yaml" command="load" />-->
    <!--<param name="base_global_planner" value="global_planner/GlobalPlanner"/>-->
  <!--</node>-->


</launch>
